html,
body {
  padding: 0;
  margin: 0;

  font-family: signifier;
  font-size: 20px;
  line-height: 30px;
  font-weight: 300;

  color: #363636;

  font-smoothing: antialiased;
}

h1, h2, h3,
h4, h5, h6,
ul, p {
  margin-top: 0;
  margin-bottom: 0;
}

h1, h2, h3,
h4, h5, h6 {
  font-family: gt-flexa;
  font-style: normal;
  font-weight: 700;
  line-height: 1.15;
}

p {
  text-indent: 50px;

  &:first-of-type {
    text-indent: 0px;
  }
}

a {
  color: inherit;
  text-decoration: underline;
  opacity: 1;
  transition: all .25s;
  &:hover {
    opacity: 0.7;
  }
}

ul {
  list-style: none;
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

// extra things

// flexa
@font-face {
  font-family: gt-flexa;
  src: url('/assets/fonts/gt-flexa-standard-medium.woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: gt-flexa;
  src: url('/assets/fonts/gt-flexa-standard-medium-italic.woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: gt-flexa;
  src: url('/assets/fonts/gt-flexa-standard-regular.woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: gt-flexa;
  src: url('/assets/fonts/gt-flexa-standard-regular-italic.woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// signifier
@font-face {
  font-family: signifier;
  src: url('/assets/fonts/signifier-regular.woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: signifier;
  src: url('/assets/fonts/signifier-regular-italic.woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: signifier;
  src: url('/assets/fonts/signifier-light.woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: signifier;
  src: url('/assets/fonts/signifier-light-italic.woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
