html,
body {
  padding: 0;
  margin: 0;

  font-family: signifier;
  font-size: 20px;
  line-height: 28px;
  font-weight: 300;

  color: #363636;

  font-smoothing: antialiased;
}

a {
  color: inherit;
  text-decoration: underline;
  opacity: 1;
  &:hover {
    opacity: 0.7;
  }
}

img {
  width: 100%;
  height: auto;
}

* {
  box-sizing: border-box;
}

// extra things

// flexa
@font-face {
  font-family: gt-flexa;
  src: url('/assets/fonts/gt-flexa-standard-medium.woff');
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: gt-flexa;
  src: url('/assets/fonts/gt-flexa-standard-medium-italic.woff');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: gt-flexa;
  src: url('/assets/fonts/gt-flexa-standard-regular.woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: gt-flexa;
  src: url('/assets/fonts/gt-flexa-standard-regular-italic.woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

// signifier
@font-face {
  font-family: signifier;
  src: url('/assets/fonts/signifier-regular.woff');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: signifier;
  src: url('/assets/fonts/signifier-regular-italic.woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: signifier;
  src: url('/assets/fonts/signifier-light.woff');
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: signifier;
  src: url('/assets/fonts/signifier-light-italic.woff');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}
