//#########################################
//############### Main Page ###############
//#########################################

.container {
  max-height: 100vh;
  max-width: 1010px;
  margin: 0 auto;
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.heading {
  font-family: paralucent;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 55px;
  margin-top: 160px;
  span {
    color: #ffffff;
  }

  @media (max-width: 1010px) {
    font-size: 4.65vw;
    line-height: 5.5vw;
  }

  @media (max-width: 600px) {
    margin-top: 100px;
    font-size: 8.15vw;
    line-height: 9vw;
  }
}

.subhead {
  margin-top: 80px;

  display: flex;
  justify-content: space-between;

  @media (max-width: 600px) {
    margin-top: 20px;
    flex-direction: column;
  }

  .projects,
  .thoughts,
  .about {
    width: 31.95%;

    a {
      color: #ffffff;
    }

    @media (max-width: 600px) {

      margin-top: 40px;
      width: 100%;
    }
  }

  .projects,
  .thoughts {
    a {
      display: block;
    }
  }

  .about {
    width: 66%;

    @media (max-width: 600px) {
      width: 100%;
      margin-bottom: 80px;
    }
  }

  .projects {
    a {
      font-family: paralucent;
      font-weight: 600;
      font-size: 32px;
      line-height: 44px;
    }
  }

  h2 {
    font-family: paralucent;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 24px;
  }
}

//#########################################
//############### projects ################
//#########################################

.nav {
  position: absolute;
  top: 0;
  width: 970px;
  font-family: paralucent;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 11px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  opacity: 1;

  @media (max-width: 1010px) {
    width: calc(100% - 40px);
    left: 20px;
    right: 20px;
  }
}

.proContainer {
  position: absolute;
  overflow: scroll;
  top: 40px;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,1);
  border-radius: 20px 20px 0px 0px;
  padding-left: 20px;
  padding-right: 20px;
  //backdrop-filter: blur(40px);

  .proCotents {
    max-width: 970px;
    margin: 0 auto;

    display: grid;
    grid-template-columns: repeat(10, 1fr);
  }

  h3 {
    font-family: Paralucent;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 48px;
    margin-top: 100px;
    margin-bottom: 8px;
    grid-column: 1 / span 5;

    @media (max-width: 600px) {
      margin-top: 40px;
      font-size: 24px;
      line-height: 29px;
      grid-column: 1 / span 10;
    }
  }

  h4 {
    grid-column: 1 / span 6;
    font-size: 20px;
    line-height: 30px;
    font-weight: 400;

    @media (max-width: 600px) {
      grid-column: 1 / span 10;
    }
  }

  img {
    margin-bottom: 24px;
    grid-column: 1 / span 10;

    @media (max-width: 600px) {
      grid-column: 1 / span 10;
    }
  }

  p{
    text-indent: 50px;
    margin-top: 0px;
    margin-bottom: 12px;
    grid-column: 1 / span 6;

    @media (max-width: 600px) {
      grid-column: 1 / span 10;
    }

    &:first-of-type {
      text-indent: 0px;
    }
  }
}
