//#########################################
//############### Main Page ###############
//#########################################

.bgGradient {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 200vh;
  width: 100vw;
  z-index: -1;

  background: linear-gradient(45deg, #6385f2, #6dd5e3, #c472f2, #37f5ab);
  background-size: 400% 200%;
  animation: bg-gradient 120s ease infinite;
}

@keyframes bg-gradient {
    0%{background-position:90% 0%}
    50%{background-position:11% 100%}
    100%{background-position:90% 0%}
}

.container {
  max-height: 100vh;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0 40px;
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (max-width: 600px) {
    padding: 0 20px;
  }

  @media (min-width: 601px) {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
  }
}

.heading {
  overflow: hidden;
  margin-top: 140px;

  @media (max-width: 728px) {
    margin-top: 48px;
  }

  h1 {
    font-family: gt-flexa;
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 55px;
    margin-top: 0;
    margin-bottom: 0;

    @media (max-width: 1050px) {
      font-size: 4.55vw;
      line-height: 5.5vw;
    }

    @media (max-width: 728px) {
      font-size: 8.05vw;
      line-height: 9vw;
    }
  }

  span {
    color: #ffffff;
  }
}

.subhead {
  overflow: hidden;
  margin-top: 60px;
  margin-bottom: 120px;

  display: flex;
  justify-content: space-between;

  @media (max-width: 728px) {
    margin-top: 0px;
    flex-direction: column;
  }

  .projects,
  .thoughts,
  .about {
    width: 31.95%;

    a {
      color: #ffffff;
    }

    @media (max-width: 728px) {
      margin-top: 40px;
      width: 100%;
    }
  }

  .projects,
  .thoughts {
    a {
      display: block;
    }
  }

  .about {
    width: 66%;

    @media (max-width: 728px) {
      width: 100%;
      margin-bottom: 80px;
    }
  }

  .projects {
    ul {
      list-style: none;
      padding-left: 0;
    }
    a {
      font-family: gt-flexa;
      font-weight: 600;
      font-size: 44px;
      line-height: 50px;
      cursor: pointer;
      display: inline-block;
    }
  }

  h2 {
    font-family: gt-flexa;
    text-transform: uppercase;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin-top: 0;
    margin-bottom: 12px;
  }

  p {
    text-indent: 50px;
    margin-top: 0px;
    margin-bottom: 12px;

    &:first-of-type {
      text-indent: 0px;
    }
  }
}

//#########################################
//############### projects ################
//#########################################

.nav {
  position: fixed;
  width: 100vw;
  max-width: 970px;
  top: 0px;
  left: calc((100vw - 970px)/2);;
  font-family: gt-flexa;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
  margin-top: 11px;
  margin-bottom: 10px;

  display: flex;
  justify-content: space-between;
  opacity: 1;

  @media (max-width: 1050px) {
    width: calc(100vw - 80px);
    left: 40px;
    right: 40px;
  }

  @media (max-width: 600px) {
    width: calc(100vw - 40px);
    left: 20px;
    right: 20px;
  }
}

.proContainer {
  position: fixed;
  overflow: scroll;
  top: 40px;
  left: 40px;
  right: 40px;
  height: 100vh;
  background: rgba(255,255,255,1);
  border-radius: 20px 20px 0px 0px;
  //backdrop-filter: blur(20px);
  box-shadow:(0px 20px 20px rgba(75,75,75,0.3));

  @supports not (backdrop-filter: blur(20px)) {
    & {
      background: rgba(255,255,255,1);
    }
  }

  @media (max-width: 1110px) {
    left: 0px;
    right: 0px;
  }

  .proCotents {
    margin-bottom: 160px;

    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(12, 60px) repeat(2, 1fr);
    grid-column-gap: 20px;

    @media (max-width: 1050px) {
      grid-template-columns: repeat(2, 20px) repeat(10, 1fr) repeat(2, 20px);
      grid-column-gap: 0px;
    }

    @media (max-width: 600px) {
      grid-template-columns: repeat(2, 10px) repeat(10, 1fr) repeat(2, 10px);
    }
  }

  .fullWidth {
    margin-top: 0px;
    grid-column: span 14;
  }

  .firstItem {
    margin-top: 100px;

    @media (max-width: 728px) {
      margin-top: 60px;
    }
  }

  .twoUp {
    grid-column: 2 / span 12;

    img {
      width: 50%;
    }
  }

  .contributions {
    grid-column: 11 / span 4;

    font-family: signifier;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 40px;

    @media (max-width: 728px) {
      margin-bottom: 0px;
      margin-top: 16px;
      grid-column: 3 / span 10;
      font-size: 20px;
      line-height: 28px;
    }

    p {
      color: #8B8B8B;
    }
  }

  h3 {
    font-family: gt-flexa;
    font-style: normal;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 36px;
    line-height: 44px;
    margin-top: 160px;
    margin-bottom: 20px;
    grid-column: 3 / span 7;

    @media (max-width: 728px) {
      margin-top: 60px;
      grid-column: 3 / span 10;
    }

    span {
      font-family: signifier;
      font-size: 20px;
      line-height: 28px;
      font-weight: 300;
      display: inline-block;
      transform: translateY(-6px);
    }
  }

  h4 {
    font-family: gt-flexa;
    grid-column: 3 / span 8;
    font-size: 20px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 0px;
    margin-bottom: 40px;
    color: #8B8B8B;

    @media (max-width: 728px) {
      margin-bottom: 24px;
      grid-column: 3 / span 10;
    }
  }

  h5 {
    font-family: gt-flexa;
    text-transform: uppercase;
    grid-column: 4 / span 7;
    font-size: 14px;
    line-height: 22px;
    font-weight: normal;
    color: #373333;
    margin-top: 32px;
    margin-bottom: 12px;

    @media (max-width: 728px) {
      grid-column: 3 / span 10;
    }
  }

  img {
    margin-top: 24px;
    margin-bottom: 36px;
    grid-column: 2 / span 14;

    @media (max-width: 728px) {
      grid-column: span 14;
    }
  }

  p {
    text-indent: 30px;
    margin-top: 0px;
    margin-bottom: 12px;
    grid-column: 4 / span 7;

    @media (max-width: 728px) {
      grid-column: 3 / span 10;
    }

    &:first-of-type {
      text-indent: 0px;
    }
  }

  h5 + p {
    text-indent: 0px;
  }

  ul {
    margin-top: 0px;
  }

  cite {
    font-family: gt-flexa;
    font-style: normal;
    font-size: 16px;
    line-height: 22px;
    margin-top: 0px;
    margin-bottom: 12px;
    color: #8B8B8B;
    grid-column: 4 / span 7;

    @media (max-width: 728px) {
      grid-column: 3 / span 10;
    }
  }
}
